# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\NETOLOGY\prof_oop\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
